*{margin: 0px;padding: 0px;}
html,body{
    width: 100%;
    height: 100%;
    min-width:1200px;
    min-height: 580px;
    max-width:100%;
    max-height: 100%;
    background-color: white; /* 浏览器不支持时显示 */
    background-image: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
}

#header{
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    color: white;
}

#bodyer{
    margin: 0px auto;
    width: 900px;
    height: 420px;
    position: relative;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left;
    box-shadow:10px 10px 10px #555;
}
#bodyer-main{
    overflow:hidden;
}
.bodyer-main-list{
    position: relative;
    left: 0px;
    top: 0xp;
    width: 900px;
    height: 380px;
}
.bodyer-main-list-li{
    margin: 12px 23px;
    width: 250px;
    height: 100px;
    display: inline-block;
    position: inherit;
    box-shadow:5px 5px 10px #555;
    border-radius: 5px;
    text-align: left;
}
.bodyer-main-list-li:active{
    box-shadow:1px 1px 10px #555;
}
.bodyer-main-list-li span{
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 1.2em;
    font-weight: 900;
}
.bodyer-main-list-li p{
	width: 230px;
	height: 35px;
	word-wrap:break-word;
	display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 0.5em;
}
.bodyer-main-list-li u{
    position: relative;
    left: 130px;
    font-size: 0.8em;
}
#bodyer-foot{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}
#bodyer-foot-list{
    display:inline-block;
}
#bodyer-foot-list li{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    list-style: none;
    float: left;;
}

#footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    line-height: 50px;
}
#jl{
    width: 5em;
    height: 2em;
    position: relative;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow:2px 2px 10px #909090;
}
#jl:focus{
    outline: none;
}
#jl:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    pointer-events: none;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: all .3s;
}
#jl:active:after {
    opacity: .3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0s;
}
