*{margin: 0px;padding: 0px;}
html.body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 4em;
    background-color: rgb(108, 151, 185);
    text-align: center;
    color: white;
}
#header p{
    line-height: 2em;
}
#header span{
    line-height: 2em;
}

#bodyer div{
    margin: 10px auto;
    width: 90%;
}

input{outline: none;}
.button{
    margin-left: 10%;
    width: 80%;
    height: 3em;
    color: white;
    background-color: rgb(108, 151, 185);
    border-radius: 1em;
    border: none;
    outline: none;
}
.text{
    width: 100%;
    height: 3em;
    border: none;
    border-bottom: 1px solid black;
}
.date{
    margin-top: 10px;
    width: 100%;
    height: 3em;
}
.select{
    margin-top: 5px;
    width: 100%;
    height: 3em;
}
.textarea{
    margin-top: 10px;
    width: 100%;
    height: 5em;
    border: none;
    border-bottom: 1px solid black;
    resize:none;
    outline: none;
}
.table{
    margin: 10px auto;
    width: 90%;
    text-align: center;
    border-collapse:collapse;
}
.table th,td{
    border: black solid 1px; 
}
.table td input{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border: none;
}